.shadowed {
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),
                0px 4px 5px 0px rgba(0,0,0,0.14),
                0px 1px 10px 0px rgba(0,0,0,0.12);
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3f51b5;
    padding-inline: 1.5rem;
    padding-block: 1rem;
    position: relative;
    z-index: 1;
}

#notipy {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

#name {
    font-size: 1.6rem;
    margin-right: 0.5rem;
}

#version {
    font-size: 0.95rem;
}

#sections {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-btn {
    font-size: 0.9rem;
    border-radius: 5px;
}

.nav-btn-round {
    border-radius: 50%;
}

.nav-btn, .nav-btn-round {
    background-color: transparent;
    border: none;
    padding: 0.5rem;
    display: flex;
    align-items: center;
}

#octocat {
    width:1.4rem;
}

.nav-btn:hover, .nav-btn-round:hover {
    background-color: #536aed82;
}

#content {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

#sidebar {
    display: flex;
    flex-direction: column;
    background-color: #424242;
    min-width: 200px;
}

.side-btn {
    border: none;
    padding-right: 7rem;
    padding-left: 1rem;
    padding-block: 1rem;
    font-size: 1.1rem;
    background-color: transparent;
}

.side-btn:hover {
    background-color: rgba(255, 255, 255, 0.08);
}

.thick-horizontal {
    height: 0.15rem;
    background-color: rgba(255, 255, 255, 0.12);
}

#vertical-delimiter {
    width: 1px;
    background-color: rgba(49, 49, 49, 0.8);
}

#background {
    flex:1;
    background-color: #303030;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    align-items: center;
}

/*I think this section should be moved*/
#login-title {
    font-size: 2.1rem;
    margin-bottom: 2rem;
}

#login {
    background-color: rgba(255, 255, 255, 0.08);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 5px;
}

input[type="text"], input[type="password"] {
    font-size: 1.1rem;
    background-color: transparent;
    border: none;
    outline: none;
    margin-inline: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 5px;
    padding-top: 0.4rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

input[type="text"]:hover, input[type="password"]:hover {
    border-bottom: 2px solid white;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-bottom: 2px solid #3f51b5;
    color: white;
}

label {
    font-size: 0.75rem;
    margin-left: 1rem;
    margin-top: 1rem;
    color: #3f51b5;
}

.label {
    color: #3f51b5;
}

::placeholder{
    color: rgba(255, 255, 255, 0.6);
}

input:focus::placeholder {
    color: transparent;
}